#jot-form{style: "display:none;"}
%table.table
  %thead
    %tr
      %th{:width => "2%"}
      %th{:width => "40%"}
        Jot
      %th{:width => "33%"}
        Next Step
      %th{:width => "10%"}
        Jot Created
      %th{:width => "15%"}
  %tbody#jots
    = render partial: jots