#jot-form{style: "display:none;"}
%table.table
  %thead
    %tr
      %th{:width => "2%"}
      %th{:width => "3%"}
        No
      %th{:width => "45%"}
        Jot
      %th{:width => "35%"}
        Next Step
      %th{:width => "10%"}
        Jot Created
      %th{:width => "5%"}
  %tbody#jots
    = render partial: jots