#jot-form{style: "display:none;"}
%table.table
  %thead
    %tr
      %th
        No
      %th
        Jot
      %th
        Next Step
      %th
        Jot Created
      %th
  %tbody#jots
    = render partial: jots