%table.table.table-condensed
  %thead
    %tr
      %th
        Link Name
      %th
        Link URL
      %th
  %tbody#idea_links
    = render partial: "idea_links/idea_link", collection: idea_links, locals: { parent: parent }