%table.table.table-condensed
  %thead
    %tr
      %th(width="20%")
        Task Name
      %th(width="40%")
        Task Description
      %th(width="5%")
        \% Complete
      %th(width="15%")
        Status
      %th(width="5%")
      %th(width="10%")
        Due Date
      %th(width="5%")   
  %tbody#tasks
    = render partial: "tasks/task", collection: tasks