#idea-form{style: "display:none;"}
%table.table
  %thead
    %tr
      %th{:width => "2%"}
      %th{:width => "43%"}
        Idea Name
      %th{:width => "25%"}
        Categories
      %th{:width => "8%"}
        No. Notes
      %th{:width => "7%"}
        No. Tasks
      %th{:width => "15%"}
  %tbody#ideas
    = render partial: ideas