#idea-form{style: "display:none;"}
%table.table.table-striped
  %thead
    %tr
      %th
        Idea Name
      %th
        No. Notes
      %th
        No. AIs
      %th
      %th
  %tbody#ideas
    = render partial: ideas