#idea-form{style: "display:none;"}
%table.table
  %thead
    %tr
      %th
        Idea Name
      %th
        Categories
      %th
        No. Notes
      %th
        No. Tasks
      %th
  %tbody#ideas
    = render partial: ideas