%h2
  Jot
%p
  Jot is a quick thought you want to capture.  It maybe an idea or it could be something you want to build on.  The thought is, it is something you want to capture.  In the work flow it is usally the first step in generating an actionalble idea.