
@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise_bootstrap_views";


.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12,
.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8, .s9, .s10, .s11, .s12,
.l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9, .l10, .l11, .l12 {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  ($grid-gutter-width / 10); // div by 2 (typ)
  padding-right: ($grid-gutter-width / 10);
}
 
@mixin grid-shortcuts($prefix: 'l', $with-offsets: false) {
  .#{$prefix}1, .#{$prefix}2,  .#{$prefix}3,  .#{$prefix}4,
  .#{$prefix}5, .#{$prefix}6,  .#{$prefix}7,  .#{$prefix}8,
  .#{$prefix}9, .#{$prefix}10, .#{$prefix}11, .#{$prefix}12 {
    float: left;
  }
 
  @for $i from 1 through $grid-columns {
    .#{$prefix}#{$i}  { width: percentage($i/$grid-columns) }
  }
 
  @if $with-offsets {
    @for $i from 0 through $grid-columns - 1 {
      $size: percentage($i/$grid-columns);
      .#{$prefix}o#{$i} { margin-left: $size; }
      .#{$prefix}r#{$i} { left:        $size; }
      .#{$prefix}l#{$i} { right:       $size; }
    }
  }
}
 
// Generate grid for tiny devises
@include grid-shortcuts($prefix: 'c');
 
// Small device columns (phones to tablets)
@media (min-width: $screen-tablet) {
  @include grid-shortcuts($prefix: 's', $with-offsets: true);
}
 
// Medium and large device columns (desktop and up)
@media (min-width: $screen-desktop) {
  @include grid-shortcuts($prefix: 'l', $with-offsets: true);
}

td>.form-group {
  margin-bottom: 0px !important;
}

.row.task-grid-header {
  border-bottom: 2px solid $table-border-color;
  padding: 3px 5px 3px 5px;
  margin: 0px;
}

.row.task-grid {
  border-bottom: 1px solid $table-border-color;
  margin: 0px 0px 0px 0px;
  padding: 3px;
}

.glyphicon-center {
  min-height: 41px;
  line-height: 41px;
}

body { padding-top: 70px; }

/* modal alert */

.modal-alert-danger {
  background-image: -webkit-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
  background-image: -o-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f2dede),to(#e7c3c3));
  background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dca7a7;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.modal-alert-success {
  background-image: -webkit-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);
  background-image: -o-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dff0d8),to(#c8e5bc));
  background-image: linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  background-repeat: repeat-x;
  border-color: #b2dba1;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.jot-up-down{
  font-size: 12px;
}

form {
  margin-bottom: 10px;
}


.row.row-warning{
  background-color: #fcf8e3;
}

.row.row-info{
  background-color: #d9edf7;
}

.row.row-success{
  background-color: #dff0d8;
}