%h1.page-header
  %span.glyphicon.glyphicon-tags
  Idea Categories
  %small
    = link_to "Add new category", new_category_path, remote: true
#category-form{style: "display:none;"}
%table.table.table-striped
  %thead
    %tr
      %th
        Category Name
      %th
        No. Ideas
      %th
        No. Notes
      %th
  %tbody#categories
    = render partial: @categories 